PORT=8000
MONGODB_URL=mongodb+srv://<name>:<password>@cluster.mongodb.net
DB_NAME=parental_legacy
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET="ADD YOUR SECRET HERE"
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET="ADD YOUR SECRET HERE"
REFRESH_TOKEN_EXPIRY=10d
# mongodb+srv://shuklakaran107_db_user:Awptic@27@cluster0.xl9blog.mongodb.net/